#app-bar {
  background-color: var(--color-semidark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#app-bar .app-name {
  color: var(--color-light);
  flex: 1;
  font-size: calc(0.5rem + var(--margin-page));
}

#app-bar .logo {
  height: calc(2 * var(--margin-page));
  margin: auto 12px;
}

#app-bar svg {
  height: calc(2 * var(--margin-page));
  margin: auto calc(0.5 * var(--margin-page));
  fill: var(--color-light);
}

@media only screen and (orientation: landscape) and (min-width: 415px) {
  #app-bar {
    flex-direction: column;
  }
  #app-bar .app-name {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
