.app-bar {
  background-color: var(--color-semidark);
  height: calc(3 * var(--margin-page));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-bar .app-name {
  color: var(--color-light);
  flex: 1;
  font-size: calc(0.5rem + var(--margin-page));
}

.app-bar .logo {
  height: calc(2 * var(--margin-page));
  margin: auto 12px;
}

.app-bar svg {
  height: calc(2 * var(--margin-page));
  margin: auto calc(0.5 * var(--margin-page));
  fill: var(--color-light);
}
